<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post">
        <fieldset>
            <legend>Get the code via:</legend>

            <div>
                <input type="radio" id="sms" name="type" value="sms" checked/>
                <label for="sms">SMS</label>
            </div>

            <div>
                <input type="radio" id="email" name="type" value="email"/>
                <label for="email">Email</label>
            </div>

            <div>
                <input type="radio" id="telegram" name="type" value="telegram"/>
                <label for="telegram">Telegram</label>
            </div>
        </fieldset>
        <button type="submit">Change something</button>
    </form>
</body>
</html>
